::-webkit-scrollbar {
    display: none;
}

body {
    color: white;
    background-color: #313131;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    height: 100vh;
}

#main {
    margin-top: 1.5rem;
    max-width: 92vw;
    aspect-ratio: 16/9;
    background-color: gray;
}

#dashboard {
    display: flex;
    flex-flow: row nowrap;
    height: 20vh;
    width: 92vw;
}

#dashboard canvas {
    height: 20vh;
    aspect-ratio: 1/1;
}

#instructions {
    height: 20vh;
    text-align: center;
}
