::-webkit-scrollbar {
    display: none;
}

body {
    color: white;
    background-color: #313131;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

canvas {
    margin-top: 2rem;
    width: 90vw;
    aspect-ratio: 16/9;
    background-color: gray;
}

#stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    width: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}